{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "eol-last": 2,
    "max-len": [1, 120, 4],
    "no-underscore-dangle": [0],
    "no-var": 2,
    "object-curly-spacing": [2, "always"],
    "no-console": 1,
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "curly": [2, "all"],
    "space-before-blocks": [2, "always"],
    "keyword-spacing": [2, {
      "before": true,
      "after": true
    }],
    "arrow-spacing": [2, {
      "before": true,
      "after": true
    }],
    "no-unused-vars": 2,
    "no-undef": 2,
    "prefer-const": [2, {
      "destructuring": "all"
    }],
    "react/display-name": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-wrap-multilines": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "quotes": [2, "single"],
    "jsx-quotes": [2, "prefer-double"],
    "space-before-function-paren": [2, "never"],
    "strict": [2, "global"],
    "semi": [2, "always"]
  },
  "plugins": [
    "react"
  ]
}
